/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('https://raw.githubusercontent.com/peytonjo/whats-for-dinner/main/assets/burger-friends.jpg');
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(225 225 225 / 80%);
    width: 400px;
    height: 300px;
    font-family: 'Roboto', sans-serif;
} 

.meal-form {
    margin-left: 30px;
}

.btn-container {
    display: inherit;
    height: 40px;
    width: 100px;
    margin: 0 0 0 30px;
}

.transparent-box {
    display: flex;
    justify-content: center;
    background-color: rgba(225 225 225 / 80%); 
    width: 100px;
    width: 400px;
    height: 300px;
}

.svg-icon {
    width: 20%;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0px;
    width: 100%;
    background-color: #0fb9b1;
}

.nav-title {
    margin-left: 10px;
    font-weight: 600;
}



.add-recipe-btn {
    margin: 10px;
    height: 35px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}

 
.food-titles-btn {
    display: flex;
    border-radius: 50%;
    padding: 5px;
    width: 10px;
    height: 10px;
    margin-top: 3px;
    font-size: 14;
} 

.radio-btn {
    margin: 12px 0;
}

.food-titles-text {
    margin: 0 0 0 10px;
}
 .main-question {
    width: 250px;
    font-size: 22px;
    font-weight: bolder;
    margin: 0 0 20px 30px;
}

.lets-cook-btn{
    background-color: #11B9B2;
    width: 150;
    height: 35;
    border: none;
    margin: 5px 0 0 5px;
    border-radius: 5px;
} 

.load-food-btn{
    opacity: 100%

}

.hidden{
    display: none !important;
}

.choice-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    width: 100%;
}
.choice-container p{
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
}

.choice-container h1{
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.choice-content{
    height: 225px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clear-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.clear-container button{
    background-color: #95a5a6;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
}

.recipe-input{
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: rgba(225 225 225 / 80%);
    position: fixed;
    bottom: 0;
}

.add-new-btn{
    background-color: #11B9B2;
    width: 74px;
    height: 28px;
    border: none;
    margin: 5px 0 0 20px;
    border-radius: 5px;
}

.recipe-input form{
    margin: 10px 5px;
}

.recipe-input input{
    width: 130px;
    height: 30px;
}

.recipe-input label{
    margin-left: 10px;
}
